ConsumeCalcService/ConsumeCalcService/Connected Services/alcerviceefrence/CalcService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sub">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addSoapIn">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="addSoapOut">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="subSoapIn">
    <wsdl:part name="parameters" element="tns:sub" />
  </wsdl:message>
  <wsdl:message name="subSoapOut">
    <wsdl:part name="parameters" element="tns:subResponse" />
  </wsdl:message>
  <wsdl:portType name="CalcServiceSoap">
    <wsdl:operation name="add">
      <wsdl:input message="tns:addSoapIn" />
      <wsdl:output message="tns:addSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sub">
      <wsdl:input message="tns:subSoapIn" />
      <wsdl:output message="tns:subSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalcServiceSoap" type="tns:CalcServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sub">
      <soap:operation soapAction="http://tempuri.org/sub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalcServiceSoap12" type="tns:CalcServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap12:operation soapAction="http://tempuri.org/add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sub">
      <soap12:operation soapAction="http://tempuri.org/sub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcService">
    <wsdl:port name="CalcServiceSoap" binding="tns:CalcServiceSoap">
      <soap:address location="https://localhost:44370/CalcService.asmx" />
    </wsdl:port>
    <wsdl:port name="CalcServiceSoap12" binding="tns:CalcServiceSoap12">
      <soap12:address location="https://localhost:44370/CalcService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>